<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Sobre Nosotros</h3>
            <p>Somos una empresa dedicada a ofrecer los mejores servicios...</p>
        </div>
        <div class="footer-section">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios e instalaciones</a></li>
                <li><a href="#">Accesorios</a></li>
                <li><a href="#">Política de Privacidad</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contacto</h3>
            <p>Email: contactoempresa.com</p>
            <p>Teléfono: +123 456 7890</p>
        </div>
        <div class="footer-section">
            <h3>Síguenos</h3>
            <div class="social-media">
                <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
                <a href="#"><img src="twitter-icon.png" alt="Twitter"></a>
                <a href="#"><img src="instagram-icon.png" alt="Instagram"></a>
                <a href="#"><img src="tik-tok-icon.png" alt="Tik-Tok"></a>
            </div>
        </div>
    </div>
</footer>
